
/* Alinear columnas verticalmente */
.contenedor-uno {
    position: relative;
    padding: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.contenedor-uno .row {
    min-height: 5rem;
    background-color: rgba(215, 215, 220, 0.5);
}

.col:nth-child(odd), .col-4:nth-child(odd) {
    background-color:rgb(164, 229, 255);
}
.col:nth-child(even), .col-4:nth-child(even) {
    background-color:rgb(45, 131, 165);
}